@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}






.banner
{
    background-image: url(../image/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    
}

nav
{
    
    background-color: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(1px);
    position: fixed !important;
    top: 0;
    width: 100%;
}

.content
{
    margin-top: 80px;
}

.btn
{
    font-weight: 500 !important;
    
}
 .btn-light
{
  font-weight: 500 !important;
  
}

.btn-light:hover
{
    color: gray !important;
    background-color: #ffffff !important;
}

.search
{   
    margin-top: 80px;
    width: 700px;
    border-radius: 40px;
    outline: none;
    border: none;
}

.Footer
{
    background-color: #000000;
    
    bottom: 0;
    position: relative;
    width: 100%;
}





@media (max-width: 576px) {
    .search
    {
        width: 250px;
    }
}

@media (max-width : 912px) {
    .buttons
    {
        margin-top: 60px;
        margin-bottom: 60px;
        align-items: center;
        justify-content: center;
        margin: auto;
        display: flex;
      
        gap: 10px;
    }


    .row
    {
        flex-direction: column;
        
    }


    
}